@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*======= TABLE OF CONTENTS | INDEX ========
1.  General Styles
2.  HEAD // NAV
3.  Section
4.  
5.  
=========================================*/

/*======= 1. General Styles ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  color: #000;
  background-color: #6b867e;
  min-height: 100vh;
}

/*======= 2. HEAD // NAV ========*/
.nav-menu {
  position: fixed;
  top: 80px;
  left: 20px;
  background: #16441ab7;
  border: solid 3px #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  padding: 10px 20px;
  background-color: #16441a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
  padding: 10px 20px;
  background-color: #16441a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
}

.nav-menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

li a {
  text-decoration: none;
}

nav li {
  text-transform: capitalize;
}

nav ul {
  list-style: none;
}

#index-menu {
  text-decoration: none;
}

/*======= 3. SECTION ========*/

section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid-container {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  grid-template-columns: 50px 600px 50px;
  grid-template-rows: 100px 500px auto;
  align-items: center;
  display: grid;
  padding: 2rem;
  background-color: #c9d8cd;
  grid-template-areas:
    "h2 h2 h2"
    ". figure ."
    "article article article";
}

section h2 {
  grid-area: h2;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

section figure {
  grid-area: figure;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

figure img {
  max-width: 85%;
}

.two-img {
  display: inline-grid;
  align-items: stretch;
}

.two-img img {
  max-width: 100%;
}

.special-cap {
  grid-area: 2 / 1 / 2 / 3;
}

figcaption {
  font-style: italic;
}

article {
  grid-area: article;
  margin-top: 1rem;
}

article ul {
  list-style-position: inside;
}

section h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

section p {
  font-size: 1.2rem;
}

/*======= 4. FOOTER ========*/

footer {
  text-align: center;
  margin-top: -3rem;
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }

  .grid-container {
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    display: grid;
    padding: 2rem;
    background-color: #c9d8cd;
    grid-template-areas:
      "h2 h2 h2"
      ". figure ."
      "article article article";
  }

  section h2 {
    font-size: 2rem;
  }
}
